body{
  font-family: Cambay;
}
/*TAKE IDEAS FROM HERE: https://css-tricks.com/full-page-background-video-styles/ */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  position: fixed;    
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); 
      
  z-index: -100;
    
  background-size: cover;
}

/* Add some content at the bottom of the video/page */
.content {
  text-shadow: 1px 1px 1px black;
  position: relative;
  /*bottom: 0;*/
  text-align: center;
  margin-top: 10%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
/*Call to action button*/
.CallToAction{
  text-shadow: 1px 1px 1px black;
  background-color: black;
  color: white;
  border: 2px solid red;
  width: 30%;
  opacity: 0.6;
  transition: 1.5s;
}
.CallToAction:focus{
  background-color: black;
  color: white;
  border: 2px solid red;
  width: 30%;
  opacity: 0.6;
}
.CallToAction:hover{
  /*background-color: Transparent;*/
  background: rgba(0, 0, 0, 0.2);
  color: red;
  font-weight: bolder;
  text-shadow: 2px 2px 2px black;
  border: 2px solid #000;
  opacity: 1;
  box-shadow: 0px 0px 15px red;
}

.about{
  display: none;
  text-shadow: 1px 1px 1px black;
  position: relative;
  /*bottom: 0;*/
  text-align: center;
  margin-top: 10%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.navbarColors{
  background-color: #000;
  color: #f1f1f1;
}
.navbarColors a{
  background-color: #000;
  color: #f1f1f1;
}